body {}

label {
    color: greenyellow;
}

h1 {
    color: greenyellow;
}

button {
    color: greenyellow;
    background-color: black;
}

    {
    color: greenyellow;
}

article .Rick {
    color: greenyellow;
}

article .paragrafo {
    color: blue;
}